html {
  font-size: 16px;
}

.container-fluid {
  height: 500px;
}

@media screen and (max-width: 540px) {
  html {
    font-size: 12px;
  }
  .nav-list {
    font-size: 12px;
  }
}
.border {
  border-radius: 15px;
}

.form-label {
  padding-left: 8px;
}

@media (min-width: 541px) and (max-width: 960px) {
  .nav-list {
    font-size: 14px;
  }
}
.btn-primary {
  background-color: #190040;
  border-radius: 15px;
}

.align-items-center {
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 2rem;
}

.accordion--bg {
  background-color: #3fc576;
}
.accordion--padding {
  padding: 1rem 1.25rem;
}
.accordion-button-color {
  color: #756ed3;
}